*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
app/build
/captures
.externalNativeBuild
app/release/app-release.apk
app/release/output.json
app/src/main/java/com/bagelplay/gameset/activity/MainLogo.java
app/src/main/res/mipmap-hdpi/eva_apple.png
app/src/main/res/mipmap-hdpi/eva_banana.png
app/src/main/res/mipmap-hdpi/eva_congration_object.png
app/src/main/res/mipmap-hdpi/eva_grape.png
app/src/main/res/mipmap-hdpi/eva_orange.png
app/src/main/res/mipmap-hdpi/eva_peach.png
app/src/main/res/mipmap-hdpi/eva_strawberry.png
app/src/main/res/mipmap-mdpi/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
import-summary.txt
result.txt
test/libs/
wavelibrary/src/main/res/drawable/
wavelibrary/libs/
